<header class="header">
    <div class="header-top">
        <img src="components/header/assets/logo.svg" alt="Ticketland" class="logo">
        <div class="header-icons">
            <button class="header-user-btn">
                <i class="icon icon-search"></i>
                <span>Поиск</span>
            </button>
            <button class="header-user-btn">
                <i class="icon icon-help"></i>
                <span>Помощь</span>
            </button>
            <button class="header-user-btn">
                <div class="badge">
                    <i class="icon icon-shopcart"></i>
                </div>
                <span>Корзина</span>
            </button>
            <button class="header-user-btn">
                <i class="icon icon-profile"></i>
                <span>Профиль</span>
            </button>
        </div>
    </div>
    <nav class="header-nav">
        <a href="#" class="nav-item nav-item-geo">
            <i class="icon icon-geo"></i>
        </a>
        <a href="#" class="nav-item">Афиша</a>
        <a href="#" class="nav-item">Спектакли</a>
        <a href="#" class="nav-item">Концерты</a>
        <a href="#" class="nav-item">Мюзиклы</a>
        <a href="#" class="nav-item">Детям</a>
    </nav>
</header>

