<header class="header">
    <div class="header-top">
        <img src="components/header/assets/logo.svg" alt="Ticketland" class="logo">
        <div class="header-icons">
            <button class="header-user-btn">
                <img src="components/header/assets/search.svg" alt="" width="24" height="24">
                <span>Поиск</span>
            </button>
            <button class="header-user-btn">
                <img src="components/header/assets/help.svg" alt="" width="24" height="24">
                <span>Помощь</span>
            </button>
            <button class="header-user-btn">
                <div class="badge">
                    <img src="components/header/assets/shopcart.svg" alt="" width="24" height="24">
                </div>
                <span>Корзина</span>
            </button>
            <button class="header-user-btn">
                <img src="components/header/assets/profile.svg" alt="" width="24" height="24">
                <span>Профиль</span>
            </button>
        </div>
    </div>
    <nav class="header-nav">
        <a href="#" class="nav-item nav-item-geo">
            <img src="components/header/assets/geo.svg" alt="Геолокация" width="24" height="24">
        </a>
        <a href="#" class="nav-item">Афиша</a>
        <a href="#" class="nav-item">Спектакли</a>
        <a href="#" class="nav-item">Концерты</a>
        <a href="#" class="nav-item">Мюзиклы</a>
        <a href="#" class="nav-item">Детям</a>
    </nav>
</header>

