<footer class="footer">
    <div class="footer-content">
        <p class="footer-payment-text">Вы можете оплатить заказ через Систему быстрых платежей, банковскими картами, наличными<br>(в любой из наших касс) или подарочной картой</p>
        <div class="footer-links">
            <a href="#" class="footer-link">Частые вопросы</a>
        </div>
        <div class="footer-copyright">
            <p>109147, г. Москва, ул. Воронцовская, д. 1/3, стр. 2А</p>
            <p>© ООО «МТС Лайв», <span id="currentYear"></span></p>
        </div>
    </div>
</footer>

