/* Footer Component Styles */

.footer {
    padding: 32px 0 0;
    background: var(--background-primary);
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: var(--background-secondary);
    padding: 16px;
}

.footer-payment-text {
    font-family: 'MTS Compact';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-primary);
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-link {
    font-family: 'MTS Compact';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-primary-link);
    text-decoration: none;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: 'MTS Compact';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-secondary);
}

