<!-- Event Description -->
<section id="description" class="description-section">
    <div class="description-title">
        <h2>О событии</h2>
    </div>
    <div class="description-badges">
        <div class="duration-badge">
            <i class="icon icon-time-16-fill"></i>
            <span id="duration"></span>
        </div>
    </div>
    <div id="descriptionText" class="description-text"></div>
    <a href="#" class="show-more-link">
        Показать полностью
        <i class="icon icon-chevron-down-16"></i>
    </a>
</section>
